#game_table td{
  width: 10%;
  height: 10%;
  background-color:green;
  touch-action: none;
}

#game_table{ 
  table-layout:fixed;
  width: 80vw;
  height: 65vw;
  margin-left: 10vw;
  margin-top: 40px;
  margin-bottom: 40px;
  max-height: 70vh;
  touch-action: none;
}

.black_overlay{
  background-color: rgba(0,0,0,0.72);
  padding: 10px;
  border-radius: 10px;
  color:white;
}

#header{
  height:80px;
  margin: 0 0 80px 0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background: url("https://s-media-cache-ak0.pinimg.com/236x/9a/1f/e2/9a1fe282ad6d12391828ae0ed4ed9a86.jpg");
}

.button{
  background-color: #669900;
  padding: 10px;
  border-radius: 10px;
  margin: 0px !important;
}

.button:hover{
  cursor:pointer;
}

#game_table td:hover{
  cursor:pointer;
  background-color: rgba(255,255,255,0.7) !important;
}

div.text_overlay{
  height:40px;
}
div.text_overlay > h3{
  margin-top: 12px;
  margin-right: 10px;
}

#popup{
  display:none;
  position: fixed; 
  width: 40vw;
  height: auto;
  margin-left: 25vw;
  margin-top: 135px;
  z-index = 999;
}

#popup_text{
  text-align: center;
}

#popup_button{
  text-align: center;
}
